body {
    background-color: lightgray;
    font-family: Arial, serif;
    margin: 5%;

}

header, section {
    background-color: skyblue;
    border: solid black;
    box-shadow: 5px 5px 5px grey;
}

header {
    display: flex;
    align-items: center;
}

section {
    margin-top: 50px;
    padding: 20px;
}

header > h1 {
    text-shadow: 5px 5px 5px white;
    font-weight: bold;
    font-size: 4em;
    margin-left: 50px;
}

th {
    background-color: darkblue;
    color: white;
}

table {
    background-color: darkblue;
}

td {
    background-color: skyblue;
}

table, td {
            border: 2px solid black;
            border-radius: 10px;
        }

td:nth-child(5), td:nth-child(6) {
    text-align: center;
    white-space: nowrap;
}

button {
    margin: 5px;
}

.navbar {
    display: flex;
}