body {
    background-color: lightgray;
}

header {
    background-color: skyblue;
    text-align: center;
}

table, th, td {
            border: 2px solid black;
            border-radius: 10px;
        }

p.centered {
    text-align: center;
}