{% extends "layout.html" %}

{% block page_title %}
    List of questions
{% endblock %}

{% block content %}
    {% if session %}
    <form><button formaction="{{ url_for('add_question') }}">Add new question</button></form>
    {% endif %}
    <br>
    <form action="{{ url_for('list_questions') }}" method="GET">
             <label for="sort_by">Sorting order:</label>
                <select id="sort_by" name="sorting_order">
                    <option value="asc" name="asc_desc">Ascending</option>
                    <option value="desc" name="asc_desc">Descending</option>
                </select><br>
        <div class="buttons-next-to-each-other">
            <button name="order_by" value="submission_time" type="submit">Sort by Time</button>
            <button name="order_by" value="view_number" type="submit">Sort by Views</button>
            <button name="order_by" value="vote_number" type="submit">Sort by Votes</button>
            <button name="order_by" value="title" type="submit">Sort by Title</button>
            <button name="order_by" value="message" type="submit">Sort by Message</button>
            </div>
    </form>
    <br>
    <table>
        <tr>
            <th>Submission time</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
            <th>Vote number</th>
            <th>View number</th>
        </tr>
        {% for i in range(data|length) if data %}
            <tr>
                <td><p>{{ data[i]['submission_time']  }}</p></td>
                <td><a href="{{ url_for('display_question',question_id=data[i]['id'])}}">{{ data[i]['title'] }}</a></td>
                <td><p>{{ data[i]['message'] }}</p></td>
                <td>
                    {% if data[i]['image'] %}
                    <img src="{{ url_for('static', filename='images/'+data[i]['image']) }}" alt="image broke" width="200">
                    {% endif %}
                </td>
                <td>
                    <p>{{ data[i]['vote_number'] }}</p>
                    <a href="{{ url_for('vote_question', question_id=data[i]['id'], vote='vote_up')}}"><img class="vote_image" alt="Vote Up" src="{{ url_for('static', filename='images/vote_up.png') }}"></a>
                    <a href="{{ url_for('vote_question', question_id=data[i]['id'], vote='vote_down')}}"><img class="vote_image" alt="Vote Down" src="{{ url_for('static', filename='images/vote_down.png') }}"></a>
                </td>
                <td><p>{{ data[i]['view_number'] }}</p></td>
            </tr>
        {% endfor %}
        {% for i in range(answer_data|length) if answer_data %}
                <tr>
                    <td><p>{{ answer_data[i]['submission_time']  }}</p></td>
                    <td><a href="{{ url_for('display_question',question_id=answer_data[i]['id'])}}">{{ answer_data[i]['title'] }}</a></td>
                    <td><p>{{ answer_data[i]['message'] }}</p></td>
                    <td>
                        {% if answer_data[i]['image'] %}
                        <img src="{{ url_for('static', filename='images/'+answer_data[i]['image']) }}" alt="image broke" width="200">
                        {% endif %}
                    </td>
                    <td>
                        <p>{{ answer_data[i]['vote_number'] }}</p>
                        <form>
                            <button formaction="{{ url_for('vote_question', question_id=answer_data[i]['id'], vote='vote_up')}}">Vote Up</button>
                            <button formaction="{{ url_for('vote_question', question_id=answer_data[i]['id'], vote='vote_down')}}">Vote Down</button>
                        </form>
                    </td>
                    <td><p>{{ answer_data[i]['view_number'] }}</p></td>
                    <td><p>{{ answer_data[i]['a_message'] }}</p></td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}