{% extends "layout.html" %}

{% block page_title %}
    List of questions
{% endblock %}

{% block content %}

    <div class="navbar">
    <form><button formaction="{{ url_for('add_question') }}">Add new question</button></form>
    </div>

    <br>
    <form action="{{ url_for('list_questions') }}" method="GET">
             <label for="sort_by">Sorting order:</label>
                <select id="sort_by" name="sorting_order">
                    <option value="asc" name="asc_desc">Ascending</option>
                    <option value="desc" name="asc_desc">Descending</option>
                </select><br>
            <button name="order_by" value="submission_time" type="submit">Sort by Time</button>
            <button name="order_by" value="view_number" type="submit">Sort by Views</button>
            <button name="order_by" value="vote_number" type="submit">Sort by Votes</button>
            <button name="order_by" value="title" type="submit">Sort by Title</button>
            <button name="order_by" value="message" type="submit">Sort by Message</button>
    </form>
    <br>
    <table>
        <tr>
            <th>Submission time</th>
            <th>Title</th>
            <th>Message</th>
            <th>Image</th>
            <th>Vote number</th>
            <th>View number</th>
        {% if adata %}
            <th>Answer message</th>
        {% endif %}
        </tr>
        {% for i in range(data|length) %}
            <tr>
                <td><p>{{ data[i]['submission_time']  }}</p></td>
                <td><strong><a href="{{ url_for('display_question',question_id=data[i]['id'])}}">{{ data[i]['title'] }}</a></strong></td>
                <td><p>{{ data[i]['message'] }}</p></td>
                <td>
                    {% if data[i]['image'] %}
                    <img src="{{ url_for('static', filename='images/'+data[i]['image']) }}" alt="image broke" width="200">
                    {% endif %}
                </td>
                <td>
                    <p>{{ data[i]['vote_number'] }}</p>
                    <form>
                        <button formaction="{{ url_for('vote_question', question_id=data[i]['id'], vote='vote_up')}}">Vote Up</button>
                        <button formaction="{{ url_for('vote_question', question_id=data[i]['id'], vote='vote_down')}}">Vote Down</button>
                    </form>
                </td>
                <td><p>{{ data[i]['view_number'] }}</p></td>
            </tr>
        {% endfor %}
        {% for i in range(answer_data|length) if answer_data %}
                <tr>
                    <td><p>{{ answer_data[i]['submission_time']  }}</p></td>
                    <td><strong><a href="{{ url_for('display_question',question_id=answer_data[i]['id'])}}">{{ answer_data[i]['title'] }}</a></strong></td>
                    <td><p>{{ answer_data[i]['message'] }}</p></td>
                    <td>
                        {% if answer_data[i]['image'] %}
                        <img src="{{ url_for('static', filename=answer_data[i]['image']) }}" alt="image broke" width="200">
                        {% endif %}
                    </td>
                    <td>
                        <p>{{ answer_data[i]['vote_number'] }}</p>
                        <form>
                            <button formaction="{{ url_for('vote_question', question_id=answer_data[i]['id'], vote='vote_up')}}">Vote Up</button>
                            <button formaction="{{ url_for('vote_question', question_id=answer_data[i]['id'], vote='vote_down')}}">Vote Down</button>
                        </form>
                    </td>
                    <td><p>{{ answer_data[i]['view_number'] }}</p></td>
                    <td><p>{{ answer_data[i]['amessage'] }}</p></td>
                </tr>
            {% endfor %}
        </table>
                <form action="{{ url_for('list_questions') }}">
                    <label for="search">Search in questions</label>
                    <input id="search" name="search">
                    <button type="submit">Submit</button>
                </form>

    {% endblock %}