<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <h1>Questions</h1><br>
    <table border="1">
        {% for i in range(data|length) %}
            <tr>
                <td>{{ data[i]['id'] }}</td>
                <td>{{ data[i]['submission_time'] }}</td>
                <td>{{ data[i]['view_number'] }}</td>
                <td>{{ data[i]['vote_number'] }}</td>
                <td>{{ data[i]['title'] }}</td>
                <td>{{ data[i]['message'] }}</td>
                {% if data[i]['image'] %}
                    <td><img src="{{ data[i]['image'] }}" alt="image broke" width="200"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
        <form action="/list" method="GET">
            <input name="sort_by_id" type="submit" value="Sort by ID">
            <input name="sort_by_time" type="submit" value="Sort by Time">
            <input name="sort_by_message" type="submit" value="Sort by Message">
            <input name="sort_by_views" type="submit" value="Sort by Views">
            <input name="sort_by_votes" type="submit" value="Sort by Votes">
        </form>
        <form action="/list" method="GET">
            <input name="ascending" type="submit" value="Ascending sort">
            <input name="descending" type="submit" value="Descending sort">
        </form>
</body>
</html>