<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Answer</title>
</head>
<body style="background-color:lightgrey;">
    <h1>{{ question['title'] }}</h1>
    <p> {{ question['message'] }} </p>
    {% if question['image'] %}
        <img src="{{ url_for('static', filename=question['image']) }}" alt="image broke" width="200">
    {% endif %}
    <br>
    <form method="post" enctype=multipart/form-data>
        <label for="post-answer"><h3>Your Answer:</h3></label>
        <textarea id="post-answer" name="message" required rows="6" cols="50"></textarea> <br>
        <br>
        <label for="image">Upload image:</label>
        <input type="file" id="image" name="image" accept="image/*"> <br>
        <br>
        <button type="submit">Post Answer</button>
    </form>
    <br>
    <form><button  formaction="{{ url_for('display_question', question_id=question['id']) }}">Go back</button></form>

</body>
</html>