<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Answer</title>
</head>
<body>
    <h1>{{ question['title'] }}</h1>
    <p> {{ question['message'] }} </p>
    <h2>Answers</h2>
    {% for answer in answers %}
    <p> {{ answer['message'] }} </p>
    {% endfor %}
    <form method="post">
        <label for="post-answer">Your Answer:</label> <br>
        <textarea id="post-answer" name="message" required rows="6" cols="50"></textarea> <br>
        <br>
        <label for="image">Upload image:</label>
        <input type="file" id="image" name="image" accept="image/*"> <br>
        <br>
        <button type="submit">Post Answer</button>
    </form>

</body>
</html>