{% extends "layout.html" %}

{% block page_title %}
    Question Page
{% endblock %}

{% block content %}

        <h2>Question:</h2>
        <h3>{{ question_data['title'] }}</h3>
        <p>{{ question_data['message'] }}</p>
        {% if question_data['image'] %}
            <img src="{{ url_for('static', filename='images/'+question_data['image']) }}" alt="image broke" width="200">
        {% endif %}
        <p>Votes: {{ question_data['vote_number'] }}  Views: {{ question_data['view_number'] }}</p>
        <form>
            <button formaction="{{ url_for('edit_question', question_id=question_data['id'])}}">Edit</button>
            <button formaction="{{ url_for('delete_question', question_id=question_data['id'])}}">Delete</button>
        </form>

        <br><br>
        <h4>Comments:</h4>
        {% for comment in comments['question'] %}
            <p> {{ comment['submission_time'] }}</p>
            <p>{{ comment['message'] }} </p>
            <form>
                <button  formaction="{{ url_for('edit_comment', comment_id=comment['id']) }}">Edit comment</button>
                <button  formaction="{{ url_for('delete_comment', comment_id=comment['id']) }}">Delete comment</button>
            </form>
        {% endfor %}
         <form><button  formaction="{{ url_for('add_comment_to_question', question_id=question_data['id']) }}">Add new comment</button></form>

        <br><br>
        <h2>Answers:</h2>
        {% for answer in answers %}
            <p>{{ answer['message'] }} </p>
            {% if answer['image'] %}
                    <img src="{{ url_for('static', filename='images/'+answer['image']) }}" alt="image broke" width="200">
            {% endif %}
            <p>Votes: {{ answer['vote_number'] }}</p>
            <form>
                <button formaction="{{ url_for('delete_answer', answer_id=answer['id'])}}">Delete</button>
                <button formaction="{{ url_for('vote_answer', answer_id=answer['id'], vote='vote_up')}}">Vote Up</button>
                <button formaction="{{ url_for('vote_answer', answer_id=answer['id'], vote='vote_down')}}">Vote Down</button>
                <button formaction="{{ url_for('edit_answer', answer_id=answer['id'])}}">Edit</button>
            </form><br>
            <h4>Comments:</h4>
            {% for comment in comments[answer['id']] %}
                <p> {{ comment['submission_time'] }}</p>
                <p>{{ comment['message'] }} </p>
                <form>
                    <button  formaction="{{ url_for('edit_comment', comment_id=comment['id']) }}">Edit comment</button>
                    <button  formaction="{{ url_for('delete_comment', comment_id=comment['id']) }}">Delete comment</button>
                </form>
            {% endfor %}
            <form>
                <button  formaction="{{ url_for('add_comment_to_answer', answer_id=answer['id']) }}">Add new comment</button>
            </form>

        {% endfor %}
        <br>
        <form><button  formaction="{{ url_for('post_answer', question_id=question_data['id']) }}">Add new answer</button></form>
        <br>
        <form><button  formaction="{{ url_for('list_questions', question_id=question_data['id']) }}">Go back</button></form>

{% endblock %}