<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Question Page</title>
    </head>
    <body>
        <h2>Question:</h2>
        <h3>{{ question_data['title'] }}</h3>
        <p>{{ question_data['message'] }}</p>
        {% if question_data['image'] %}
            <td><img src="{{ url_for('static', filename=question_data['image']) }}" alt="image broke" width="200"></td>
        {% endif %}
        <br><br>
        <h2>Answers:</h2>
        {% for answer in answers %}
            <p>{{ answer['message'] }} </p>
            {% if answer['image'] %}
                    <td><img src="{{ url_for('static', filename=answer['image']) }}" alt="image broke" width="200"></td>
            {% endif %}
            <p>Vote number: {{ answer['vote_number'] }} </p>
            <p>
                <form>
                    <button formaction="{{ url_for('delete_answer', answer_id=answer['id'])}}">Delete</button>
                    <button formaction="{{ url_for('vote_answer', answer_id=answer['id'], vote='up')}}">Vote Up</button>
                    <button formaction="{{ url_for('vote_answer', answer_id=answer['id'], vote='down')}}">Vote Down</button>
                </form>
            </p><br>
        {% endfor %}
        <form><button  formaction="{{ url_for('post_answer', question_id=question_data['id']) }}">Add new answer</button></form>
    </body>
</html>