{% extends "layout.html" %}

{% block page_title %}
    Registration
{% endblock %}

{% block content %}
<div>
    <form method="POST" action="/registration" enctype=multipart/form-data>
        <label for="username">Username:</label><br>
        <input id="username" name="username" required placeholder="admin"><br>
        <label for="password">Password:</label><br>
        <input id="password" name="password" type="password" required><br>
        <label for="check_password">Password again:</label><br>
        <input id="check_password" name="check_password" type="password" required ><br>
        <div class="drop-zone">
            <span class="drop-zone__prompt">Drop file here or click to upload</span>
            <input type="file" name="image" class="drop-zone__input">
        </div>
        <button type="submit">Register</button>
    </form>
    <p>{{ info if info }}</p>
</div>
    <script src="/static/js/dragAndDrop.js.js"></script>
{% endblock %}