{% extends "layout.html" %}

{% block page_title %}
    {{ user['username'] }} User
{% endblock %}

{% block content %}
    <div class="user_data">
        <ul>
            <li><strong>Id:</strong> {{ user['id'] }}</li>
            <li><strong>Username:</strong> {{ user['username'] }}</li>
            <li><strong>Registration date:</strong> {{ user['registration_date'] }}</li>
            <li><strong>Number of asked questions:</strong> {{ user['number_of_asked_questions'] }}</li>
            <li><strong>Number of answers:</strong> {{ user['number_of_answers'] }}</li>
            <li><strong>Number of comments:</strong> {{ user['number_of_comments'] }}</li>
            <li><strong>Reputation:</strong> {{ user['reputation'] }}</li>
        </ul>
        <img src="{{ url_for('static', filename='images/'+user['avatar']) }}" alt="profile pic">
        {% if session and 'id' in session and user['id'] == session['id'] %}
            <form><button formaction="{{ url_for('display_user', user_id=user['id'])}}">Edit Picture</button></form>
        {% endif %}
    </div>

    {% if questions|length > 0 %}
    <table>
        <tr>
            <th>Title</th>
            <th>Submission time</th>
            <th>Message</th>
            <th>Image</th>
            <th>Vote number</th>
            <th>View number</th>
        </tr>
        {% for question in questions%}
        <tr>
            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
            <td><p>{{ question['submission_time']  }}</p></td>
            <td><p>{{ question['message'] }}</p></td>
            <td>
                {% if question['image'] %}
                    <img src="{{ url_for('static', filename='images/'+question['image']) }}" alt="image broke" width="200">
                {% endif %}
            </td>
            <td><p>{{ question['vote_number'] }}</p></td>
            <td><p>{{ question['view_number'] }}</p></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if answers|length > 0 %}
    <table>
        <tr>
            <th>Question id</th>
            <th>Submission time</th>
            <th>Message</th>
            <th>Image</th>
            <th>Vote number</th>
        </tr>
        {% for answer in answers%}
        <tr>
            <td><a href="/question/{{ answer['question_id'] }}">{{ answer['question_id'] }}</a></td>
            <td><p>{{ answer['submission_time']  }}</p></td>
            <td><p>{{ answer['message'] }}</p></td>
            <td>
                {% if answer['image'] %}
                    <img src="{{ url_for('static', filename='images/'+answer['image']) }}" alt="image broke" width="200">
                {% endif %}
            </td>
            <td><p>{{ answer['vote_number'] }}</p></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if comments|length > 0 %}
    <table>
        <tr>
            <th>Question id</th>
            <th>Answer id</th>
            <th>Message</th>
        </tr>
        {% for comment in comments%}
        <tr>
            <td><a href="/question/{{ comment['question_id'] }}">{{ comment['question_id'] }}</a></td>
            <td><p>{{ comment['answer_id']  }}</p></td>
            <td><p>{{ comment['message'] }}</p></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}